name: Build and Release

on:
  push:
    branches:
      - main
    paths-ignore:
      - 'README.md'
      - '.gitignore'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install

      - name: Compile Binaries
        run: |
          mkdir -p bin
          bun build --compile --minify src/index.ts --target bun-windows-x64 --outfile bin/xavva-windows.exe
          bun build --compile --minify src/index.ts --target bun-linux-x64 --outfile bin/xavva-linux
          bun build --compile --minify src/index.ts --target bun-macos-x64 --outfile bin/xavva-macos
          bun build --compile --minify src/index.ts --target bun-macos-arm64 --outfile bin/xavva-macos-arm64

      - name: Get Version
        id: pkg_version
        run: echo "VERSION=$(node -p "require('./package.json').version")" >> $GITHUB_OUTPUT

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: v${{ steps.pkg_version.outputs.VERSION }}-${{ github.sha }}
          name: Release v${{ steps.pkg_version.outputs.VERSION }} (commit ${{ github.sha }})
          draft: false
          prerelease: false
          files: |
            bin/xavva-windows.exe
            bin/xavva-linux
            bin/xavva-macos
            bin/xavva-macos-arm64
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
